//
// Component: Score
//

.score {
	display: flex;
	align-items: center;
	font-family: $font-roboto;
	font-size: rem(32);
	font-weight: 500;
	line-height: (40/32);
}

.score__number {
	display: block;
	min-width: rem(32);
	padding: 0 rem(6);
	border-radius: rem(4);
	background-color: #e7eaef;
	text-align: center;
}
.pens__winner {
	display: block;
	padding: 0 rem(6);
	font-size: x-small;
	font-weight: 800;
}

.score__seperator {
	margin: 0 rem(10);
}